/* Sidebar Styling */
.sidebar {
  height: 100vh;
  background-color: #2e3200;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  width: 250px;
  overflow-y: auto;
}

/* Menu Styling */
.menu {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  flex-grow: 1;
}

.menu-item i {
  font-size: 1.2rem;
  margin-right: 15px;
  color: white;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.active {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.active a,
.active i {
  color: #2e3200;
}

/* Content Styling */
.container {
  margin-left: 270px; /* Adjust according to sidebar width */
  padding: 20px;
}

.add-inventory {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.table {
  margin-top: 20px;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
